<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-d{yyyy-MM-dd HH:mm:ss} %highlight{%-5p} %cyan{%l}: %highlight{%m}%n{FATAL=red, ERROR=red, WARN=yellow bold, INFO=cyan, DEBUG=green bold, TRACE=blue}"/>
        </Console>
    </appenders>
    <loggers>
        <!--    disable reflections console logging    -->
        <logger name="org.reflections" level="OFF"/>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>